@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  background-color: #5800FF;
}

#seleccionar-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #72FFFF;
  font-size: 80px;
  margin-bottom: 15px;
}

.subtitulo {
  font-size: 45px;
  color: #72FFFF;
}

.tarjetitas, .tarjetas-ataque {
  display: flex;
  gap: 10px;
}

.mokepon-tarjeta {
  width: 160px;
  height: 100px;
  background: #0096FF;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mokepon-tarjeta img {
  width: 80px;
}

#btn-pet {
  width: 200px;
  height: 50px;
  background: #00D7FF;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 30px;
  border: 3px solid blueviolet;
  border-radius: 10px;
  font-family: 'Secular One', sans-serif;
}

.mokepon-tarjeta:hover {
  background: #37E2D5;
  color: #590696;
}

.mokepon-tarjeta:active {
  background: aqua
}

input {
  display: none;
}

input:checked + label {
  background-color: #14C38E;
  border: 2px solid white;
}

#btn-pet:hover {
  background: blueviolet;
  border: 3px solid #DFF6FF;
  color: white
}

#btn-pet:active {
  border: 5px solid #DFF6FF;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-ataque {
  background-color: #0096FF;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-color: transparent;
  width: 100px;
  font-family: 'Secular One', sans-serif;
}

.btn-ataque:hover {
  background-color: #72FFFF;
  color: #5800FF
}

.btn-ataque:active {
  background-color: #37E2D5;
}

#mensajes {
  width: 180px;
  background-image: url("assets/result-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #72FFFF;
  padding: 20px;
  margin-top: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

#btn-reload {
  background-color: #0096FF;
  width: 130px;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  font-family: 'Secular One', sans-serif;
  color: white;
}

#btn-reload:hover {
  background-color: #72FFFF;
  border: 2px solid #5800FF;
  color: #5800FF
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
}

#vidas-player, #vidas-ia {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 360px) {
  .tarjetitas, .tarjetas-ataques {
    flex-direction: column;
  }
  .titulo {
    font-size: 40px;
  }
  .subtitulo {
    font-size: 23px
  }
}
